<h1><%= @carrier.description %></h1>

<ul>
  <li>On Time Percentage: <%= @carrier.on_time_percentage %>%</li>
  <li>Average Delay: <%= @carrier.average_delay %> minutes</li>
</ul>

<h2><%= @carrier.description %> Flies Out Of</h2>
  <ul>
  <% @carrier.departs_from.each do |airport| %>
     <li><%= link_to(airport.name, airport_path(airport)) %></li>
    <% end %>
  </ul>

