<h1><%= @airport.name %> (<%= @airport.abbreviation %>)</h1>
<em><%= @airport.location %></em>
<ul>
  <li>On Time Departure Percentage: <%= @airport.on_time_departure_percentage %>%</li>
  <li>On Time Arrival Percentage: <%= @airport.on_time_arrival_percentage %>%</li>
  <li>Average Departure Delay: <%= @airport.average_departure_delay %> minutes</li>
  <li>Average Arrival Delay: <%= @airport.average_arrival_delay %> minutes</li>
</ul>

<h2>Nearby Airports - Ranked By Best On Time Percentage</h2>
 <ol>
  <% @airport.nearby_airports.each do |airport| %>
    <% if airport.id == @airport.id %>
      <li><%= airport.name %>, <em><%= airport.location %></em> -- On Time Percentage: <%= airport.on_time_departure_percentage %>% </li>
    <% else %>
      <li><%= link_to(airport.name, airport_path(airport)) %>, <em><%= airport.location %></em> -- On Time Percentage: <%= airport.on_time_departure_percentage %>% </li>
    <% end %>
  <% end %>
  </ol>

<h2>Carriers Flying Out of <%= @airport.abbreviation %></h2>
 <ul>
  <% @carriers.each do |carrier| %>
     <li><%= link_to(carrier.description, carrier_path(carrier)) %></li>
    <% end %>
  </ul>
